.tagMatches {
  margin-left: 10px;
}

.tagMatches ._tag_suggestion {
  padding: 1px;
  margin-left: 1px;
  background-color: #0000AB;
  color: #fff;
  cursor: pointer;
}

#cloud_trigger, #cloud_content a {
  cursor: pointer;
  text-decoration: none;
}

#cloud_trigger {
  font-weight: bold;
  border-bottom: 1px dashed;
}

#cloud_content a {
  margin: 3px;
  line-height: normal;
}

#cloud_content .selected {
  background: #0000AB;
  color: #fff;
}

#issue_tags {
  width: 90%;
}

.filter select[name="v[tags][]"][multiple] {
  min-height: 200px;
}


/* rNoz begin */
#cloud_trigger {
  font-size: 0.8rem;
}
#cloud_content a {
  padding: 2px 3px 1px 3px;
  border-radius: 3px;
}
#cloud_content .selected {
  background: #c9ddff;
  color: #242424;
}
.cloud_content a {
  padding: 2px 3px 1px 3px;
  border-radius: 3px;
  background: #c9ddff;
  color: #242424;
}
.cloud_content .label {
  font-weight: bold;
}
/* rNoz end */
