<hr/>
<%# issues detail form #%>
<div class="cloud_content">
  <p>
    <strong><%= l(:field_tags) %></strong>
  </p>
  <% tags.each do |tag| %>
    <%= link_to_project_tag_filter(@project, tag) %>
  <% end %>
</div>
